*{margin: 0; padding: 0}

@import 'font.css';
*{margin: 0; padding: 0; font-family: 'hek-reg';}

/* =================== HEADER ====================== */
header{
    width: 100%;
    background: url('../images/header_wall.jpg');
    min-height: 600px;
    object-fit: cover;
    position: relative;
    border-radius: 0 0 15px 15px;
}
.header_menu{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: rgba(60, 60, 60, 0.6);
    position: fixed;
    border-radius: 0 0 10px 10px;
}
.header_menu .logo img{
    /* border: 1px solid red; */
    width: 200px;
}
.header_menu img{
    width: 80px;
    height: 80px;
    margin-left: 15px;
    /* border: 1px solid red; */
}
.menu{
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.menu a{
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: white;
    height: 20px;
}
.menu a:hover{
    background: rgb(61, 61, 201);
    border-radius: 10px;
    transition: all 0.5s;
}
.menu a:active{
    background: rgb(51, 51, 122);
}
.btn{
    border: 1px solid black;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    padding: 10px;
    display: none;
}
.registration{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    /* border: 1px solid red; */
    padding: 10px;
}
.button1, .button2{
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(white, grey);
}
.button1:hover, .button2:hover, .lang:hover{
    background: rgb(143, 136, 136);
    color: white;
    transition: all 0.8s;
    border: none;
}
@media screen and (max-width: 1200px){
    .menu a{
        text-align: center;
        font-size: 12px;
    }
}

@media screen and (max-width: 992px){
    .menu a{
        font-size: 12px;
        margin: 5px;
        padding: 8px;
        text-align: center;
    }
    .button1, .button2{
        padding: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width: 768px){
    .menu a{
        font-size: 9px;
        margin: 5px;
        padding: 6px;
        text-align: center;
    }
    .button1, .button2{
        padding: 5px;
        margin-left: 3px;
        margin-right: 3px;
    }
}
@media screen and (max-width: 576px){
    .btn{
        display: block;
    }
    .menu a{
        display: none;
    }
    .menu{
        flex-direction: column;
        align-items: flex-start;
    }
    .button1, .button2{
        padding: 5px;
        margin-left: 3px;
        margin-right: 3px;
    }
}
/* =================== HEADER END ====================== */



/* =================== SECTION ========================= */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.main h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 50px;
}
.top_albums{
    display: flex;
    /* flex-direction: column; */
    width: 100%;
}
.top_albums h2{
    /* display: flex; */
}
.album{
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    min-height: 300px;
    /* border: 1px solid red; */
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(60, 60, 60, 0.4);
    box-shadow: 5px 5px 10px rgba(60, 60, 60, 0.4);
}
.album_cover{
    /* display: flex; */
    /* justify-content: center; */
}
.album_cover img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.album_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.album_name h3{
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
    
}
.album_name p{
    font-size: 20px;
    text-transform: capitalize;
}
.album:hover:first-child{
    background-color: rgb(98, 98, 107);
    color: white;
    transition: all 0.5s;
    border: 3px solid rgb(98, 98, 107);
    box-sizing: border-box;
}
.album:hover:nth-child(2){
    background-color: rgb(61, 61, 201);
    color: white;
    transition: all 0.5s;
    border: 3px solid rgb(61, 61, 201);
    box-sizing: border-box;
}
.album:hover:nth-child(3){
    background-color: rgb(148, 28, 102);
    color: white;
    transition: all 0.5s;
    border: 3px solid rgb(148, 28, 102);
    box-sizing: border-box;
}


.top_artists{
    display: flex;
    width: 100%;
    justify-content: center;
    /* border: 1px solid red; */
}
.artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3);
    min-height: 300px;
    /* background-color: rgba(60, 60, 60, 0.4); */
}
.artist_cover{
    /* border: 1px solid blue; */
    display: flex;
    width: 70%;
}
.artist_cover img{
    width: 100%;
    border-radius: 180px;
    box-sizing: border-box;
    height: 300px;
    object-fit: cover;
    display: flex;
    /* border: 3px solid rgba(60, 60, 60, 0.7); */
    box-shadow: 5px 5px 15px rgba(60, 60, 60, 0.4);
}
.artist_name{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.artist_name h3{
    text-transform: capitalize;
    font-size: 25px;
}
.artist_cover img:hover, .genre_cover img:hover{
    border: 6px solid rgb(61, 61, 201);
    transition: all 0.2s;
}
.artist_cover img.active, .genre_cover img.active{
    border: 6px solid rgb(61, 61, 201);
}
.info{
    width: 75%;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.artist_info, .genre_info{
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid red; */
    min-height: 30px;
}
.artist_info p, .genre_info p{
    font-size: 18px;
    line-height: 25px;
}
.top_genres{
    display: flex;
    width: 100%;
    justify-content: center;
}
.genre{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100%/3);
    min-height: 300px;
}
.genre_cover{
    display: flex;
    width: 70%;
}
.genre_cover img{
    width: 100%;
    border-radius: 180px;
    box-sizing: border-box;
    height: 300px;
    object-fit: cover;
    display: flex;
    /* border: 3px solid rgba(60, 60, 60, 0.7); */
    box-shadow: 5px 5px 15px rgba(60, 60, 60, 0.4);
}
.genre_cover img:hover{
    border: 6px solid rgb(61, 61, 201);
    transition: all 0.2s;
}
.genre_name{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.genre_name h3{
    text-transform: capitalize;
    font-size: 25px;
}

@media screen and (max-width: 1200px){
    .artist_cover img, .genre_cover img{
        height: 200px;
    }
}
@media screen and (max-width: 992px){
    .artist_cover img, .genre_cover img{
        height: 175px;
    }
    .album_name h3{
        font-size: 18px;
        text-align: center;
    }
    .album_name p{
        font-size: 15px;
        text-align: center;
    }
    .album{
        min-height: 200px;
    }
}
@media screen and (max-width: 768px){
    .artist_cover img, .genre_cover img{
        height: 150px;
    }
    .album_name h3{
        font-size: 15px;
        text-align: center;
    }
    .album_name p{
        font-size: 13px;
        text-align: center;
    }
    .album{
        min-height: 175px;
    }
}
@media screen and (max-width: 576px){
    .artist_cover img, .genre_cover img{
        height: 125px;
    }
    .album_name h3{
        font-size: 13px;
        text-align: center;
    }
    .album_name p{
        font-size: 9px;
        text-align: center;
    }
    .album{
        min-height: 150px;
    }
}
/* =================== SECTION END ========================= */



/* =================== FOOTER ============================= */
.about_us{
    background: rgba(20, 20, 20, 0.8);
    border-radius: 15px 15px 0 0;
    padding-top: 50px;
    width: 100%;
}
.about_us h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: white;
}
.members{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
    min-height: 300px;
    /* border: 1px solid red; */
    margin: auto;
    flex-wrap: wrap;
}
.member{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    margin-bottom: 40px;
    /* background: rgb(61, 61, 201); */
    min-height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}
.member img{
    width: 75%;
    margin: auto;
    border-radius: 15px;
    box-sizing: border-box;
    height: 250px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}
.member h4{
    text-align: center;
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    margin-top: 15px;
}
.member p{
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
@media screen and (max-width: 768px){
    .member{
        width: calc(100%/2);
    }
}
@media screen and (max-width: 576px){
    .member{
        width: calc(100%);
    }
    .member img{
        width: 50%;
    }
}
/* =================== FOOTER END ============================= */